<div class="descriptions__cover">
  <div class="descriptions__cover__details">
    <div>・このアプリは<%= current_user.nickname %>さんの読書をさらに良質なものにするためのサポートアプリです。<br>
      ・具体的にはハジェテぺ大学が考案した知識定着率を向上させる17の質問に答えてもらいます。<br>
      ・始めに全て埋めるのではなく気付きが合った都度答えていきましょう!<br>
      ・今後<%= current_user.nickname %>さんの読書はより良いものになるでしょう!!
    </div>
  </div>
  <div class="descriptions__cover__icons">
    <div>それぞれのアイコンの説明</div>
    <div>
      <i class="fas fa-heart btn like"></i>→<i class="fas fa-heart btn unlike"></i> お気に入り登録 :
      特に気に入った本や今読んでいる本を登録しておくと便利です
    </div>
    <div>
      <i class="fas fa-info-circle"></i> 詳細 :
      このボタンをクリックすることであなたがどの質問に答えたかを見ることができます
    </div>
    <div>
      <i class="fas fa-edit"></i> 編集 :
      質問に答えを追加したいときにクリックしてください!
    </div>
    <div>
      <i class="fas fa-trash"></i> 削除 :
      その本の読書記録を削除します<br><span>データは復元できないため十分に考えてから消すことをおすすめします</span>
    </div>
    <div>
      <i class="fas fa-folder-plus submit-icon"></i> 追加、更新 :
      本の情報を追加もしくは更新したいときに押すボタンです
    </div>
  </div>
</div>
