  <div class="view__cover">
    <div class="back-top">
      <%= link_to "トップに戻る", root_path, class: "line back" %>
    </div>
    <% if @books.length == 0 %>
    <p class="not-favo">お気に入りした本がありません</p>
    <% end %>
    <div class="books height-84">
      <% @books.each do |book| %>
      <%= render partial: 'books/abook', locals: { book: book } %>
      <% end %>
    </div>
  </div>
