@import "./material.scss";

// books: :show, books: :_question
.show-menu {
  margin-top: 2vh;

  &__link {
    padding-left: 2vw;
  }

  &__book {
    @extend .cloud;

    &__under {
      position: relative;
      height: 2vh;
      width: 90vw;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      width: 37.5%;
      margin-left: 2vw;
    }
  }
  // -----------------------------------------
  &__questions {
    position: absolute;
    top: 2vh;
    overflow-y: scroll;
    max-height: 70vh;
    padding: 0 2vw;

    &.height {
      height: 65vh;
      padding-bottom: 300px;
    }

    .question {
      border-bottom: solid 1px #808080;

      span {
        @extend .q-and-a;
        background-color: rgba(8, 8, 8, 0.2);
      }
    }
    .answer {
      margin: 1vh 0 2vh;
      border-bottom: solid 1px #000080;

      span {
        @extend .q-and-a;
        background-color: rgba(45, 45, 215, 0.2);
      }
    }
  }
}

// book: :_plus-info
.front-detail {
  @extend .cloud;

  &__children {
    display: flex;
  }
  &__h17 {
    display: none;
  }

  &__content {
    @extend .border-bb;
    margin-bottom: 1vh;
    width: 50vw;

    &:focus {
      outline: none;
    }
  }
}

.border-none {
  border: none;
  width: 90%;

  &:focus {
    outline: none;
  }
}

.submit-icon {
  @extend .produce-color;
  @extend .btn;
  background-color: transparent;
  border: none;

  &.in-cloud {
    margin-left: 4vw;
  }
}
