@import "./material.scss";

.descriptions__cover {
  &__details {
    @extend .cloud;
    margin: 2vh 0;
  }

  &__icons {
    position: relative;
    overflow: scroll;
    height: 40vh;
    padding: 2vh 1vw 0;

     > div {
      margin-top: 2vh;

      span {
        color: #ff0000;
      }
    }
  }
}
