@media only screen and (min-width: 1024px) {
  @import "./material.scss";
  // root
  .container {
    width: 62vw !important;
  }

  .books {
    width: 62vw !important;
  }

  // books: :_plus-info
  .show-menu__questions {
    width: 62vw;
    margin-top: 4vh;

    &.height {
      height: 52vh !important;
      padding: 0;
    }
  }

  .front-detail__h17 {
    display: block;
    @extend .cloud;
    margin: 2vh 0;
  }

  // user: :edit
  .edit-menu {
    margin-top: 10vh !important;
  }

  .desktop-field {
    display: flex;
    flex-direction: column;
  }

  .desktop-bottom {
    margin-bottom: 4vh !important;
  }

  .edit-btn {
    width: 6vw;
    text-align: left;
  }

  // descriptions: :index
  .descriptions {
    &__cover {
      margin-top: 6vh;

      &__details {
        margin-bottom: 6vh;
      }
      &__icons {
        overflow: hidden;
        height: auto;
        > div {
          margin-top: 4vh;
        }
      }
    }
  }

  //toggle menu(side-bar)
  .hamburger {
    width: 40px !important;
    left: 50px !important;
  }
  .inner_line {
    width: 40px !important;
  }
  .nav > ul {
    padding-top: 130px !important;

    li {
      margin-bottom: 50px !important;
      width: 300px !important;
    }
  }

  // devise view
  .field {
    width: 30vw !important;
  }

  .guest {
    width: 170px !important;
  }
}
