.cloud {
  border: solid 2px #000080;
  padding: 1vh 2vw;
  border-radius: 20px;
  box-shadow: 2px 3px 1vh 2px rgba(0, 0, 0, 0.4);
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.line {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.btn {
  display: inline-block;
}

.border-bb {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #000;
}

.q-and-a {
  padding-right: 1vw;
  margin-right: 1vw;
  border-radius: 10px;
}
