@import "./material.scss";

// vscode
.profiler-results {
  display: none;
}
// application.html
.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  color: #fff;
  top: 0;
  height: 6vh;
  width: 100vw;

  &__link {
    text-decoration: none;
    color: #fff;
  }
  &__right {
    position: absolute;
    right: 4vw;
    top: 55%;
    transform: translateY(-50%);

    .sign-out-big {
      font-size: 1.5em;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  height: 94vh;
}

.container {
  position: relative;
  width: 90vw;
  height: 94vh;
}

// root(user: :show)
.view__cover {
  margin-top: 2vh;
  height: 90vh;
}

.user {
  margin-bottom: 2vh;
  @extend .cloud;

  &__book-create {
    @extend .border-bb;
  }
}

.books {
  position: absolute;
  @extend .scroll;
  width: 90vw;
  bottom: 2vh;
  height: 72vh;

  // user: :favorite until .not-favo
  &.height-84 {
    height: 84vh;
  }
}

.back-top {
  padding-left: 2vw;
}

.not-favo {
  padding-left: 2vw;
}
// ----------------------------
.book {
  @extend .cloud;
  margin-bottom: 1vh;

  &__info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 2vw;
  }
}

// user: :edit
.edit-menu {
  display: flex;
  flex-direction: column;
  margin: 2vh 5vw;
  padding-left: 4vw;

  p {
    margin-bottom: 1vh;
  }
}

.line.back {
  border-bottom: solid 2px #000;
  margin-bottom: 2vh;
}

.field {
  @extend .border-bb;
  margin-bottom: 2vh;
  width: 70vw;
  resize: none;

  &:focus {
    outline: none;
  }
}

.edit-btn {
  @extend .border-bb;
  background-color: transparent;
  padding-left: 0;
}
